@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: 'http://192.168.54.186:1337/api/getcontacts',
                contentType:'application/json'
            }).done(function(res) {
                $('.apilist').html('');
                $.each(res.data, function (i, v) {
                    $('.apilist').append($('<li class="list-group-item"/>')
                        .append($('</p>').text(v.name)).append($('</p>').text(v.phone)).append($('</p>').text(v.location)));
                });
                })

            $('#btnAddContact').on('click', function () {
                $.ajax({
                    url: 'http://192.168.54.186:1337/api/addcontact',
                    contentType: 'application/json',
                    method: 'POST',
                    data: JSON.stringify({ name: $('input[name="txtname"').val(), location: $('input[name="txtlocation"').val(), phone: $('input[name="txtphone"').val() })
                }).done(function (res) {
                    $('.apilist').html(''); 
                    $('input[name="txtname"').val('');
                    $('input[name="txtlocation"').val('');
                    $('input[name="txtphone"').val('');
                    $.each(res.data, function (i, v) {
                        $('.apilist').append($('<li class="list-group-item"/>')
                            .append($('</p>').text(v.name)).append($('</p>').text(v.phone)).append($('</p>').text(v.location)));
                    });
                })
            });
        });
    </script>
}



<div class="row">
    <div class="col-lg-12">
        <h1>Node JS - .NET CORE - MYSQL Integration DEMO</h1>
    </div>
    <div class="col-md-3">
        <h2>Add Contact</h2>
        <div class="form-group">
            <label for="txtname">Name</label>
            <input name="txtname" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="txtlocation">Location</label>
            <input name="txtlocation" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="txtphone">Phone No</label>
            <input name="txtphone" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="button" id="btnAddContact" class="btn btn-primary pull-right">Add</button>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Application uses</h2>        
        <ul class="list-group apilist"></ul>
    </div>
</div>

